<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">教科研论文管理</h3>
    </div>

    <div class="box-search">
        <form class="form-inline">
            <div class="form-group">
                <label>论文名称: </label>
                <input ng-model="paperNm" type="text" class="form-control input-sm" placeholder="论文名称">
            </div>
            <button ng-click="search()" class="btn btn-flat btn-sm btn-info"><i class="fa fa-search"></i>搜索
            </button>
            <button class="btn btn-flat btn-sm btn-info" ng-click="add()">
                        <i class="fa fa-pencil fa-fw"></i>&nbsp;新增</button>
        </form>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>序号</th>
                <th>论文名称</th>
                <th>发表刊物名称</th>
                <th>发表刊物期卷号</th>
                <th>发表时间</th>
                <th>论文级别</th>
                <th>作者（序号）及所署单位</th>
                <th>类型</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="detail in details" >
 
                <td>{{detail.id}}</td>
                <td>{{detail.paperNm}}</td>
                <td>{{detail.journalName}}</td>
                <td>{{detail.journalNum}}</td>
                <td>{{detail.publishedDate|date:'yyyy-MM-dd'}}</td>
                <td>{{detail.paperLevel}}</td>
                <td>{{detail.paperAuthor}}</td>
                <td>
                	<div ng-if="detail.fruitCategoryId=='B01'">科研论文</div>
                	<div ng-if="detail.fruitCategoryId=='B02'">教研论文</div>
                	</td>
                <td>
                	<div ng-if="detail.fruitStatus==0">未提交</div>
                	<div ng-if="detail.fruitStatus==1">已提交</div>
                	<div ng-if="detail.fruitStatus==2">审核通过</div>
                	<div ng-if="detail.fruitStatus==3">系审核未通过</div>
                	<div ng-if="detail.fruitStatus==4">院审核未通过</div>
                	<div ng-if="detail.fruitStatus==5">专家审核未通过</div>
                </td>
                <td>
                <div ng-if="detail.fruitStatus==1">
                </div>
                    <div ng-if="detail.fruitStatus==0|| detail.fruitStatus==3"><button class="btn btn-flat btn-sm btn-info" ng-click="edit(detail)">
                        <i class="fa fa-pencil fa-fw"></i>&nbsp;编辑</button></div>
                    <div ng-if="detail.fruitStatus==0|| detail.fruitStatus==3"> <button class="btn btn-flat btn-sm btn-info" ng-click="delete(detail)">          
                    <i class="fa fa-pencil fa-fw"></i>&nbsp;删除</button></div>
                    <div ng-if="detail.fruitStatus==0|| detail.fruitStatus==3"><button class="btn btn-flat btn-sm btn-info" ng-click="upload(detail)">          
                    <i class="fa fa-pencil fa-fw"></i>&nbsp;提交</button></div> 
                </td>
            </tr>

        </table>
    </div>
    <div class="box-footer">
        <ul uib-pagination class="pagination-sm no-margin pull-right" boundary-link-numbers="true"
            first-text="首页"
            last-text="尾页"
            previous-text="前一页"
            next-text="后一页"
            total-items="total"
            ng-model="page"
            ng-change="pageChanged()"
            items-per-page="size"
            max-size="10"
            rotate="false">
        </ul>
    </div>

    <div class="overlay" ng-show="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>