<form class="form-horizontal w5c-form" name="addForm" novalidate w5c-form-validate="">
    <div cg-busy="loading">
        <div class="modal-header">
            <h3 class="modal-title">新增个人成果</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">成果编号:</label>
                <div class="col-sm-8">
                    <input name="fruitCode" ng-model="detail.fruitCode" type="text"
                           class="form-control input-sm"
                           placeholder="成果编号"
                           ng-maxlength="255"
                           maxlength="255"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">成果名称:</label>
                <div class="col-sm-8">
                    <input name="fruitNm" ng-model="detail.fruitNm" type="text"
                           class="form-control input-sm"
                           placeholder="成果名称"
                           ng-maxlength="255"
                           maxlength="255"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">成果描述:</label>
                <div class="col-sm-8">
                      <textarea rows="4" name=" fruitdesc" style="width:100%"
                        ng-model="detail.fruitDesc">
                        </textarea>
                </div>
                
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">成果类别编号:</label>
                <div class="col-sm-8">
                      <select  name="fruitCategory"   class="form-control"
                            ng-model="detail.fruitCategory"
                            ng-options="category.fruitCategory for category in categorys track by category.id">
                            <option value="">---请选择---</option>
                    </select>
                </div>
                
            </div>
           <!--  <div class="form-group">
                <label class="col-sm-3 control-label">成果类别:</label>
                <div class="col-sm-8">
                     <input name="fruitCategory" ng-model="detail.fruitCategory" type="text"
                           class="form-control input-sm"
                           placeholder="成果类别"
                           ng-maxlength="255"
                           maxlength="255"
                           required>
                </div>
                
            </div> -->
            <div class="form-group">
                <label class="col-sm-3 control-label">成果获得人编号:</label>
                <div class="col-sm-8">
                     <input name="fruitManId" ng-model="detail.fruitManId" type="text"
                           class="form-control input-sm"
                           placeholder="成果获得人编号"
                           ng-maxlength="255"
                           maxlength="255"
                           required>
                </div>
                
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">成果获得人姓名:</label>
                <div class="col-sm-8">
                     <input name="fruitManNm" ng-model="detail.fruitManNm" type="text"
                           class="form-control input-sm"
                           placeholder="成果获得人姓名"
                           ng-maxlength="255"
                           maxlength="255"
                           required>
                </div>
                
            </div>

            
        <div class="modal-footer">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="reset" class="btn btn-default btn-sm" ng-click="close();">取消</button>
                <button type="submit" class="btn btn-success" w5c-form-submit="confirm();">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 确认
                </button>
            </div>
        </div>
    </div>
</form>